:root {
    --primario: #369699;
    --secundario: #60c7ca;
    --transparencia: #84e3d0;
    --negroAzul: #002433;
    --grisClaro: #fafafa;
    --negro: #0A0A0A;

    --fuenteHeading: 'Poppins', sans-serif;;
    --fuenteParrafos: 'Open Sans', sans-serif;;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Globales */
[class$="__contenedor"] {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: 600;
    font-family: var(--fuenteHeading);
}
h1 {
    font-size: 4rem;
}  
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.6rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Utilidades */
.centrar-texto {
    text-align: center;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}

/* Header */



/* Nav */

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .nav {
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }
    .nav a {
        padding: 1rem;
    }
}

.nav__link {
    margin-left: auto;
}