:root {
    --primario: #369699;
    --secundario: #60c7ca;
    --transparencia: #deeeeb;
    --negroAzul: #002433;
    --grisClaro: #fafafa;
    --negro: #0A0A0A;

    --fuenteHeading: 'Poppins', sans-serif;;
    --fuenteParrafos: 'Open Sans', sans-serif;;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Globales */
[class$="__contenedor"] {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
[class$="__heading"] {
    text-align: center;
}

h1, h2, h3 {
    font-weight: 600;
    font-family: var(--fuenteHeading);
}
h1 {
    font-size: 4rem;
}  
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.6rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Utilidades */
.centrar-texto {
    text-align: center;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 10rem 0;
}

/* Header */

.header {
    width: 100%;
    height: 100vh;
    min-height: 60rem;
    max-height: 80rem;
    position: relative;
    padding: 5rem 0;
    display: grid;
    grid-template-rows: 10rem 1fr;
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../assets/computer.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

@media (min-width: 768px) {
    .header__barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
    }
}
.header__barra a {
    color: var(--grisClaro);
    font-size: 1.5rem;
}
.header__barra span{
    font-weight: 700;
}
.header__logo {
    text-align: center;
}
.header__texto {
    text-align: center;
    color: var(--grisClaro);
    margin-top: 12rem;
}
.header__boton {
    background-color: var(--primario);
    display: block;
    padding: 1rem;
    text-align: center;
    color: var(--grisClaro);
    margin: 2rem 0;
    border-radius: 2rem;
}
@media (min-width: 768px) { 
    .header__boton {
        padding: 1rem 3rem;
        display: inline-block;
    }
    .header__boton:hover {
        background-color: #2a787a;
    }
}


/* Nav */

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .nav {
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }
    .nav a {
        padding: 1rem;
    }
}

.nav__link {
    margin-left: auto;
}

/* Principal */

.principal__heading {
    color: var(--negroAzul);
}
.principal__contenedor {
    text-align: center;
    margin: 0 auto;
    padding-top: 8rem;
    display: grid;
    width: 90%;
    gap: 1rem;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
}
.subtitulo {
    color: var(--negroAzul);
    margin: 0;
}
.subtitulo__parrafo {
    line-height: 1.5;
    color: var(--negroAzul);
    margin: 0;
    font-family: var(--fuenteParrafos);
    font-weight: 500;
}
.iconos {
    display: grid;
    gap: 1rem;
    justify-items: center;
    width: 26rem;
    overflow: hidden;
    margin: 0 auto;
}
.iconos__img {
    width: 4rem;
}

/* Testimoniales */

.testimoniales {
    background-color: var(--transparencia);
    margin-top: 10rem;
}
.testimoniales__contenedor {
    display: grid;
    grid-template-columns: 50px 1fr 50px ;
    gap: 1rem;
    align-items: center;
}

.testimonio__body {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    grid-column: 2/3 ;
    grid-row: 1/2 ;
    opacity: 0;
    pointer-events: none;
}
.testimonio__body--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.testimoniales__texto {
    max-width: 70rem;
}
.testimoniales__subtitulo {
    color: var(--negroAzul);
}
.testimonio__revision{
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--negroAzul);
}

.testimoniales__img {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}
.testimonio__curso {
    background-color: var(--primario);
    color: var(--grisClaro);
    display: inline-block;
    padding: .2rem;
}
.testimoniales__arrow {
    width: 90%;
    cursor: pointer;
}
